--allow-external PIL
--allow-unverified PIL
--allow-external scimath
--allow-unverified scimath
numpy
coverage
futures
coveralls
-e git+http://github.com/enthought/scimath.git#egg=scimath
-e git+http://github.com/enthought/traits.git#egg=traits
-e git+http://github.com/enthought/traitsui.git#egg=traitsui
-e git+http://github.com/enthought/pyface.git#egg=pyface
-e git+http://github.com/enthought/apptools.git#egg=apptools
