numpy
coverage
futures
pillow
git+http://github.com/enthought/scimath.git#egg=scimath
git+http://github.com/enthought/traits.git#egg=traits
git+http://github.com/enthought/traitsui.git#egg=traitsui
git+http://github.com/enthought/pyface.git#egg=pyface
git+http://github.com/enthought/enable.git#egg=enable
git+http://github.com/enthought/apptools.git#egg=apptools
git+http://github.com/enthought/etsdevtools.git#egg=etsdevtools
